<html>
    <head>
        <title>my first page</title>
        <link href = "style.css" rel = "stylesheet">
    </head>
    <body>
        <div>
            
            <form action = "/user/add" method = "POST">
                <label for ="name">name</label><br>
                <input type = "text" id = "name" name ="name" value =""><br>
                <label for ="email">email:</label><br>
                <input type = "text" id = "email" name ="email" value =""><br>
                <label for ="age">age</label><br>
                <input type = "text" id = "age" name ="age" value =""><br>
                <label for ="city">city</label><br>
                <input type = "text" id = "city" name ="city" value =""><br>
                <label for ="city">profession</label><br>
                <input type = "text" id = "profession" name ="profession" value =""><br>
                <input type = "submit" value = "submit">
            </form>
        </div>
    </body>
</html>